.warehouse-confirm-container{
  margin: 0px;
  padding: 10px;
}

.warehouse-confirm-order-container{
  background-color: #ffffff;
  padding: 10px;
}

.warehouse-confirm-order-header{
  border-bottom: 1px solid #4646ad;
  padding: 10px 10px 0px;
  color: #4646ad;
}

.warehouse-confirm-order-content{
  padding: 10px;
}

.warehouse-cart-container{
  margin: 0px;
  padding: 10px;
}

.warehouse-cart-item-container{
  background-color: #ffffff;
  padding: 10px;
}

.warehouse-cart-item-header{
  border-bottom: 1px solid #4646ad;
  padding: 10px 10px 0px;
  color: #4646ad;
}

.warehouse-cart-table-container, .warehouse-cart-total-container, .warehouse-cart-checkout-container{
  padding: 10px;
}
